:root {
  --main-text: 'Fugaz One', cursive;
  --white-bg: linear-gradient(to right, #e3e8eb, #a8acb1);
  --red-outline: -1px -1px 0 rgb(184, 4, 4),
    1px -1px 0 rgb(184, 4, 4),
    -1px 1px 0 rgb(184, 4, 4),
    1px 1px 0 rgb(184, 4, 4);
}

body {
  height: 100%;
}


.navbar {
  width: 100%;
  height: 3em;
  background: linear-gradient(to right, #232526, #414345);
  border-bottom: 3px solid white;
}

.title {
  font-size: 1.5em;
}

.header {
  text-align: center;
  font-size: 3.5em;
  color: whitesmoke;
  text-shadow: var(--red-outline);
  font-family: var(--main-text);
}

.navtext {
  color: whitesmoke;
  font-size: 1.5em;
  margin-left: .5em;
  margin-right: 2em;
  font-family: var(--main-text);
  text-shadow: var(--red-outline);
}

.navruby {
  height: 2em;
  margin-left: 2em;
}

.sideBar {
  flex-basis: 20%;
  height: 100%;
  background: linear-gradient(to top, #ece9e6, #ffffff);
}

.sideCat {
  font-family: var(--main-text);
  font-size: 1.5em;
  color: whitesmoke;
  border-right: 1px solid black;
  margin: 0;
  padding: 0;
  text-shadow:
        -1px -1px 0 rgb(184, 4, 4),
        1px -1px 0 rgb(184, 4, 4),
        -1px 1px 0 rgb(184, 4, 4),
        1px 1px 0 rgb(184, 4, 4);
}

.productSection {
  width: 100%;
  height: 100vh;
}

.productImg {
  height: 10em;
  width: 10em;
  border-radius: .5em;
  border: 2px solid black;
  box-shadow: 3px 3px 20px black;
}

.singleProductImg {
  height: 20em;
  width: 20em;
  border-radius: .5em;
  border: 2px solid black;
  box-shadow: 3px 3px 20px black;
}

.flex {
  display: flex;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
  justify-content: center;
}
.margin-top{
  margin-top: 10%;
}

.basis30 {
  flex-basis: 30%;
  margin-top: 5em;
}

.product {
  background: var(--white-bg);
  padding: 1.5em;
  margin: 2em;
  margin-bottom: 1em;
  border-radius: 1em;
  font-family: var(--main-text);
  border: 2px solid whitesmoke;
  box-shadow: 2px 2px 20px whitesmoke;
}

.flexC {
  display: flex;
  flex-direction: column;
}

.spaceB {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
}

.bottomseg {
  height: 100vh;
}

.cartBtn {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-bottom: 2em;
  border-radius: .5em;
  font-family: var(--main-text);
  border: 2px solid black;
  transition: .3s ease-in-out;
}

.cartBtn:hover {
  transform: scale(1.1);
  color: red;
  border: 2px solid red;
}

.cartBtn:active {
  outline: none;
  box-shadow: none;
}
.cartBtn:focus {
  outline: none;
  box-shadow: none;
}

.cont {
  text-align: center;
}